<section id="kontakt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading">Kontakt</h1>
        <div class="mapa" id='mapa'></div>
        <script>
          function initMap() {
            var uluru = {lat: 50.071668, lng: 19.942740};
            var map = new google.maps.Map(document.getElementById('mapa'), {
              zoom: 16,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
        </script>
        <div class="col-md-4">
          <div class="padding">
            <h2>DANE KONTAKTOWE:</h2>
          </div>

        </div>
        <div class="col-md-8">
          <div class="padding">
            <h4><b>Adres:</b><br/>
              Centrum Fitness Kraków<br/>
              ul. Warszawska 24 <br/>
              Kraków 31-158 <br/>
              <br/>
              email: info.silownia@gmail.com<br/>
              tel. recepcja 546 842 245</h4>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


