<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" (click)="setPage('main_page')">Siłownia</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myNav">
      <ul class="nav navbar-nav">
        <li>
          <a (click)="setPage('main_page')">Strona główna</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="text-center">
  <!-- Login alert -->
  <div class="alert alert-danger" id="login-alert" style='display: none;'>
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Nieprawidłowy login albo hasło!</strong>
  </div>
  <!-- /Login alert -->

  <!-- Warning alert -->
  <div class="alert alert-danger" id="warning-alert" style='display: none;'>
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Ups, coś poszło nie tak! Spróbuj ponownie.</strong>
  </div>

  <!-- /Warning alert -->
  <div class="wrapper" style="margin-top: 150px;">
    <form class="form-signin">
      <h2 class="form-signin-heading" align="center">Zaloguj się</h2>
      <input type="text" class="form-control" name="login" placeholder="Twój login"/>
      <input type="password" class="form-control" name="haslo" placeholder="Hasło"/>
      <div style="text-align: center">
        Nie masz jeszcze konta? <a (click)="setPage('registration_page')">Zarejestruj się!</a>
      </div>
      <button class="btn btn-lg btn-primary btn-block bl-btn" type="submit">Zaloguj się</button>
    </form>
  </div>
</div>
