<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" (click)="setPage('main_page')">Siłownia</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#zajecia">Zajęcia</a>
        </li>
        <li>
          <a href="#cennik">Cennik</a>
        </li>
        <li>
          <a href="#">Grafik</a>
        </li>
        <li>
          <a href="#trenerzy">Trenerzy</a>
        </li>
        <li>
          <a href="#kontakt">Kontakt</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="panel"></li>
        <li id="logowanie" (click)="setPage('login_page')" style="cursor: pointer;"><a><span
          class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
      </ul>
    </div>
  </div>
</nav>

<header class="image-bg-fluid-height">
  <img class="img-responsive img-center" src="" alt="Image not avaliable">
</header>

<activities></activities>

<price-list></price-list>

<aside class="image-bg-fixed-height"></aside>

<trainers></trainers>

<contact></contact>





