<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" (click)="setPage('main_page')">Siłownia</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myNav">
      <ul class="nav navbar-nav">
        <li>
          <a (click)="setPage('main_page')">Strona główna</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div class="wrapper">
  <form class="form-signin">
    <h2 class="form-signin-heading" align="center">Zarejestruj się</h2>
    <input type="text" class="form-control" name="imie" placeholder="Twoje imię" required="" autofocus=""/>
    <input type="text" class="form-control" name="nazwisko" placeholder="Twoje nazwisko" required=""/>
    <input type="text" class="form-control" name="login" placeholder="Twój login" required=""/>
    <input type="password" class="form-control" name="haslo" placeholder="Hasło" required=""/>
    <input type="password" class="form-control" name="haslo1" placeholder="Powtórz Hasło" required=""/>
    <input type="text" class="form-control" name="adres" placeholder="Twój adres" required=""/>
    <input type="text" class="form-control" name="miasto" placeholder="Twoje miasto" required=""/>
    <button class="btn btn-lg btn-primary btn-block bl-btn" type="submit">Rejestracja</button>
  </form>
</div>
