<main-page *ngIf="page.mainPage" [page]="page"></main-page>
<login-page *ngIf="page.loginPage" [page]="page"></login-page>
<registration-page *ngIf="page.registationPage" [page]="page"></registration-page>

<footer class="container-fluid text-left">
  <div class="row">
    <img src="../assets/img/mybenefit-logo.png">
    <img src="../assets/img/fit-profit-logo.png">
  </div>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- GoogleAPI -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgsI-x-V7hX4PhL0k9-d2Qm6tpcQrX_pg&callback=initMap">
</script>
