
      button {
        margin-top: 5px;
      }

      input {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      .wrapper {  
        margin-top: 80px;
        margin-bottom: 80px;
      }

      .form-signin {
        max-width: 380px;
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);  

        .form-signin-heading,
        .checkbox {
          margin-bottom: 30px;
        }

        .checkbox {
          font-weight: normal;
        }

        .form-control {
          position: relative;
          font-size: 16px;
          height: auto;
          padding: 10px;
          @include box-sizing(border-box);

          &:focus {
            z-index: 2;
          }
        }

        .bl-btn {
          background-color: #454545;
          color: #fff;
          font-weight:bold;
        }

        button {
          color: #fff;
        }
      }