<section id="cennik">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="section-heading">Cennik</h3>
        <table class="table">
          <thead>
          <tr>
            <th>TYP KARNETU</th>
            <th>CENA</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>OPEN 1 MC</td>
            <td>150 zł</td>
          </tr>
          <tr>
            <td>OPEN STUDENT</td>
            <td>110 zł</td>
          </tr>
          <tr>
            <td>JEDNORAZOWE WEJŚCIE</td>
            <td>30 zł</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
