<section id="zajecia">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="section-heading">Zajęcia</h3>
        <div class="col-lg-12">
          <div class="col-lg-3 text-center ajax-zajecia">
            <img src="../assets/img/zajecia1.jpg" alt="Zdjęcie zajęć WOD 1" width="140" height="200">
            <h3>WOD 1</h3>
          </div>
          <div class="col-lg-3 text-center ajax-zajecia">
            <img src="../assets/img/zajecia2.png" alt="Zdjęcie zajęć WOD 2" width="140" height="200">
            <h3>WOD 2</h3>
          </div>
          <div class="col-lg-3 text-center ajax-zajecia">
            <img src="../assets/img/zajecia_core.jpg" alt="Zdjęcie zajęć CORE" width="140" height="200">
            <h3>CORE</h3>
          </div>
          <div class="col-lg-3 text-center ajax-zajecia">
            <img src="../assets/img/zajecia1.jpg" alt="Zdjęcie zajęć PILATES" width="140" height="200">
            <h3>PILATES</h3>
          </div>
          <div class="col-lg-3 text-center ajax-zajecia">
            <img src="../assets/img/zajecia1.jpg" alt="Zdjęcie zajęć PILATES" width="140" height="200">
            <h3>exercises1</h3>
          </div>
          <div class="col-lg-3 text-center ajax-zajecia">
            <img src="../assets/img/zajecia1.jpg" alt="Zdjęcie zajęć PILATES" width="140" height="200">
            <h3>exercises2</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
