<section id="trenerzy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading">Nasza kadra</h1>
        <div class="col-lg-12">
          <div class="col-lg-3 text-center">
            <img src="../assets/img/trener1.jpg" alt="Zdjęcie trenera" width="140" height="200">
            <h3>ANNA NOWAK</h3>
          </div>
          <div class="col-lg-3 text-center">
            <img src="../assets/img/trener2.jpg" alt="Zdjęcie trenera" width="140" height="200">
            <h3>MACIEK KOWALSKI</h3>
          </div>
          <div class="col-lg-3 text-center">
            <img src="../assets/img/trener1.jpg" alt="Zdjęcie trenera" width="140" height="200">
            <h3>MARIA KOWALSKA</h3>
          </div>
          <div class="col-lg-3 text-center">
            <img src="../assets/img/trener2.jpg" alt="Zdjęcie trenera" width="140" height="200">
            <h3>GRZEGORZ KONRAD</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
